.btn.btn-primary{
    margin-right: 20px;
    font-weight: bold;
    transition: all 0.3s;
}

.btn.btn-danger{
    margin-left: 20px;
    font-weight: bold;
    transition: all 0.3s;
}

.btn:hover{
    transform: scale(1.5);
}